# Copy of original .gitignore
.idea
.idea/*

.DS_Store
**/*/__pycache__/*

**/node_modules/*

**/static/*
**/media/*

*.pyc

**/*/package-lock.json

.vscode
.vscode/*

**/Pods/*

*~
\#*\#
.\#*

nohup.out
pytest-report.xml
.coverage
coverage.xml
htmlcov

profile_images
profile_images/*
*.csv

id_manager/settings/g.py
id_manager/settings/aws.py
id_manager/settings/aws_dev.py
id_manager/settings/aws_qa.py
docker-compose-g.yml
pool_transactions_sandbox_genesis
ngrok.yml
**/pytest-report.xml

# Additional ignored files

id_manager/settings/vela.py
id_manager/settings/base.py
id_manager/settings/demo.py
docker-compose.yml
docker-compose-dev.yml
docker-compose-customer.yml
./docker-compose.yml
bitbucket-pipelines.yml
pool_genesis_dev
pool_genesis_qa
demo/*
sonar-project.properties

