<!DOCTYPE html>

{% load qr_code %}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Client application</title>
    <style>
        body {
          font-family: Sans-Serif;
        }
        .container {
            width: 90%;
            word-break: break-all;
        }
        .error {
            color: red;
        }
        .step {
            padding: 10px;
        }
    </style>
</head>
<body>

{% block content %}
<span>
  <div class="container">
      <h1>Obtain credential</h1>

      <div id="content">
          {% if error %}

            <div class="error">
                {{ error }}
            </div>


          {% else %}

            <div id="connection-invitation" style="" class="step">
                {%  if invitation_url %}
                    Please, scan this QR code with the UN Digital ID app:
                    <br>
                    <br>
                    {% qr_from_text invitation_url size="M" image_format="svg" %}

                    <br>
                    <div id="btn-didcomm">
                        If you are seeing this in a device that has the app installed, please click
                        <a href="didcomm://launch?d_m={{ invitation_b64 }}">here</a>.
                    </div>
                {% else %}
                    Checking connection information ...
                {%  endif  %}
            </div>

            <div id="credential-offer" style="display: none;" class="step">
                Sending credential offer ...
            </div>

            <div id="credential-accepted" style="display: none;" class="step">
                Process finished, you should have the credential in your app.
            </div>

          {% endif %}
      </div>

  </div>
</span>
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
    var error = "{{ error }}";
    var maxTries = parseInt("{{ poll_max_tries }}");

    function poll(url, tryNumber, callback) {
        setTimeout(function () {
            $.ajax({
                type: 'GET',
                url: url,
                success: callback,
                error: function() {
                    tryNumber += 1;
                    if (tryNumber >= maxTries) {
                        return uiMaxTriesReached()
                    }
                    poll(url, tryNumber, callback)
                }
            });
        }, parseInt("{{ poll_interval }}", 10));
    }

    function credential_offer_polling() {
        poll("{{ poll_credential_url }}", 0, function() {
            uiAdvanceStep("credential-offer", "credential-accepted");
        });
    }

    function connection_invitation_polling() {
        poll("{{ poll_connection_url }}", 0, function() {
            uiAdvanceStep("connection-invitation", "credential-offer");
            credential_offer_polling();
        });
    }

    function uiMaxTriesReached() {
        $("#content")[0].innerHTML = "Timeout reached, please start again."
    }

    function uiAdvanceStep(finished_step_id, next_step_id) {
        $("#" + finished_step_id).fadeTo("slow", 0.33);
        $("#" + next_step_id).show();
    }

    $(document).ready(
        function() {
            if (error) {
                return;
            }
            connection_invitation_polling();
        }
    );
</script>

</body>
</html>
